
:root {
    --primaryColor: #be9c79;
    --secondaryColor: #212529;
    --ffPrimary: "Merienda", serif;
    --ffSecondary: "Nunito Sans", serif;
}

.mb-2 {
    height: 40px;
}

h2 {
    font-family: var(--ffPrimary);
    font-size: 40px;
}

p {
    font-family: var(--ffSecondary);
}

h5 {
    font-family: var(--ffSecondary);
}